
.inter {
  font-family: "Inter", sans-serif;
}

.winMessage{
    position: fixed;
    font-family: "Inter", sans-serif;
    font-size: x-large;
    font-weight: bold;
    top: 25%;
}

.resetButton{
    position: fixed;
    font-family: "Inter", sans-serif;
    font-size: larger;
    font-weight: bold; 
    border-width: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    border-color: transparent;
    bottom: 25%;
}

.resetButton:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.start_button:hover{
    text-decoration: underline;
    text-decoration-thickness: 4px;
}